* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: linear-gradient(135deg, #4e5d76, #f1834e);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

li {
  font-size: 14px;
}

/* Navigation Menu */
.nav-container {
  background-color: #2d3143;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.nav-container > h1 {
  color: #f1834e;
  font-weight: bold;
  padding-left: 1%;
}

a {
  color: #f1834e;
  text-decoration: none;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 8px 60px;
  position: relative;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1172px) {
  .navbar ul li {
    margin: 8px 20px;
  }
}

.navbar ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.navbar .active::after {
  width: 100%;
  background: gray;
}

@media (max-width: 768px) {
  .navbar ul li:hover::after {
    width: 30%;
  }
  .navbar .active::after {
    width: 30%;
  }
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f1834e;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #2d3143;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    display: flex;
    left: 0;
  }
}

/* Home Page */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home img {
  border-radius: 10px;
}

.home > section {
  display: flex;
  border: solid 1px black;
  margin: 15px;
  background-color: #fff;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.5);
  width: 50%;
  border-radius: 10px;
}

.home > section:hover {
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.8);
}

.home > section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home > section > div > article {
  padding: 24px;
}

.home > section > div > h1 {
  color: gray;
  animation: fade-1 2s;
}

.home > section > img {
  width: 400px;
  animation: fade-1 2s;
}

@keyframes fade-1 {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Services Page */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.services .services-container {
  background: #fff;
  max-width: 700px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.5);
}

.services-container li {
  padding: 5px;
}

.services-container h1 {
  padding: 10px;
}

.services .classes {
  background-color: #f1834e;
  width: 100%;
  margin-bottom: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff#;
}
tr:nth-child(odd) {
  background-color: #efefef;
}

tr:hover {
  background-color: #dddddd;
}

/* About Page */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.about > .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  width: 50vh;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.5);
}

.about > .about-container > img {
  width: 175px;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.5);
}

.about > .about-container > h2 {
  margin-top: 24px;
}

/* Membership Page (Form) */
#membership {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  display: inline-block;
  position: relative;
}

.input-box:after {
  font-family: "FontAwesome";
  position: absolute;
  right: 14px;
  top: 35px;
  opacity: 0.3;
}

.name-box::after {
  content: "\f007";
}
.phone-box::after {
  content: "\f095";
}
.email-box::after {
  content: "\f0e0";
}

.membership-form {
  background: #fff;
  max-width: 700px;
  width: 100%;
  padding: 50px 30px;
  border-radius: 5px;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 15px;
}

.title {
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.form .input-box input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 8px;
}

.button {
  background-color: #f1834e; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.required::after {
  content: "*";
  color: red;
  font-weight: bold;
}

input:checked {
  box-shadow: 0 0 10px #2d3143;
}

#phone-error {
  display: none;
  color: #f1834e;
  padding-top: 4px;
}

#email-error {
  display: none;
  color: #f1834e;
  padding-top: 4px;
}

h1 {
  text-align: center;
}

/* Contact Page */
.contact {
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
}

.contact .contact-container {
  background: #fff;
  height: auto;
  max-width: 500px;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.5);
}

.contact > .contact-container .suburb {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #f1834e;
  color: black;
  font-weight: bold;
  width: 100%;
  border-radius: 5px;
}

.contact .contact-container .details {
  display: flex;
  padding: 8px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .membership-form .input-box:nth-child(2) {
    display: none;
  }

  .input-box > label {
    display: none;
  }

  .form {
    grid-gap: 10px;
  }

  .membership-form {
    background: none;
    box-shadow: none;
    padding: initial;
  }

  .membership .membership-form .title {
    padding-bottom: none;
  }

  .contact {
    height: initial;
    margin: 0%;
  }

  .services {
    height: initial;
  }

  .contact .contact-container {
    background: none;
    box-shadow: none;
  }

  .about > .about-container {
    background: none;
    box-shadow: none;
    width: initial;
  }

  .contact .contact-container > div {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: auto;
    max-width: 500px;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1280px) {
  .tooltip {
    display: none;
  }

  .home > section:nth-child(odd) {
    flex-direction: column-reverse;
    width: 97%;
    align-items: center;
  }

  .home > section:nth-child(even) {
    flex-direction: column;
    width: 97%;

    align-items: center;
  }

  .home > section > div > h1 {
    margin-top: 40px;
  }
}

@media (min-width: 1280px) {
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    height: fit-content;
    width: fit-content;
    color: #f1834e;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: -20px;
    margin-top: -20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > a {
  padding-right: 8px;
}
