/* colour scheme {
  color: #2d3143 (dark blue); 
  color: #bfc0c0 (off-white);
  color: #ffffff (white);
  color: #f1834e (orange);
  color: #4e5d76 (dark grey);
} */

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}
#content {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

li {
  font-size: 14px;
}

/* Navigation Menu */
nav {
  background-color: #2d3143;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

nav > h1 {
  color: #f1834e;
  font-weight: bold;
  padding-left: 1%;
}

a {
  color: #f1834e;
  text-decoration: none;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 60px;
  position: relative;
  font-weight: bold;
}

.navbar ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f1834e;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #2d3143;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    display: flex;
    left: 0;
  }
}

/* Home Page */
.carousel-container {
  width: 50%;
  margin: auto;
  display: flex;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 50px;
  animation: slider 20s infinite;
}

@keyframes slider {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

/* Services Page */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services img {
  width: 100vw;
}

/* About Page */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about img {
  width: 50%;
  height: 50vh;
  padding: 20px;
}

/* Membership Page (Form) */
#membership {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4e5d76, #f1834e);
}

.membership-form {
  background: #fff;
  max-width: 700px;
  width: 100%;
  padding: 50px 30px;
  border-radius: 5px;
}
.title {
  font-weight: bold;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.form .input-box input {
  width: 100%;
  height: 50px;
  font-size: 18px;
}

#email:valid {
  background-color: #fff;
}

#email:invalid {
  background: #e7eded;
}

.required::after {
  content: "*";
  color: red;
  font-weight: bold;
}

input:checked {
  box-shadow: 0 0 10px #2d3143;
}

@media (max-width: 768px) {
  .input-box .details {
    display: none;
  }

  #birthday {
    display: none;
  }

  .form {
    grid-gap: 10px;
  }

  .membership-form {
    background: none;
  }
}

/* .form .input-box input:focus { */

/* .input-box [data-error] #name {
  border-color: #f1834e;
  color: #f1834e;
  background: #bfc0c0;
} */

/* .input-box [data-error]::after {
  content: attr(data-error);
  font-size: 0.85em;
  color: #f1834e;
  display: block;
  margin: 10px 0;
} */

.footer {
  padding: 8px;
  display: flex;
  justify-content: center;
}
