/* colour scheme {
  color: #2d3143 (dark blue); 
  color: #bfc0c0 (off-white);
  color: #ffffff (white);
  color: #f1834e (orange);
  color: #4e5d76 (dark grey);
} */

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  background-color: #2d3143;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

h1 {
  color: #f1834e;
  font-weight: bold;
  padding-left: 1%;
}

a {
  color: #f1834e;
  text-decoration: none;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 60px;
  position: relative;
  font-size: 20px;
}

.navbar ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f1834e;
}

@media (max-width: 820px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #2d3143;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

.carousel-container img {
  height: 50vh;
}

.carousel-container {
  width: 60%;
  margin: auto;
  display: flex;
  overflow: hidden;
  /* padding-top: 20px; */
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
